/*
**
** spotify_album_finder
** File description:
** albumcard.css
*/

.album-card {
    width: 200px;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: white;
    color: black;
    transition: transform 0.2s;
}

body[data-theme="dark"] .album-card {
    background-color: #181818;
    color: white;
}

.album-card:hover {
    transform: scale(1.03);
}

.album-img-wrapper {
    position: relative;
}

.fav-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.album-link-btn {
    background-color: #000;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
}
