/*
**
** spotify_album_finder
** File description:
** general.css
*/

body {
    background-color: #121212;
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 50px 0;
}
