/*
**
** spotify_album_finder
** File description:
** login.css
*/

.login-container {
    text-align: center;
    margin-top: 100px;
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-text {
    color: #ccc;
    margin-bottom: 20px;
}

.login-button {
    background-color: #1db954;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: background-color 0.2s;
}

.login-button:hover {
    background-color: #17a74a;
}
