/*
**
** spotify_album_finder
** File description:
** searchbar.css
*/

.searchbar-container {
    margin-bottom: 40px;
}

input[type="input"] {
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.2s ease-in-out;
}

input[type="input"]:focus {
    box-shadow: 0 0 6px 2px rgba(30, 215, 96, 0.6);
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1db954 !important;
    color: white !important;
}
