/*
**
** spotify_album_finder
** File description:
** theme.css
*/

body[data-theme="dark"] {
    background-color: #0e0e0e;
    color: #f2f2f2;
    transition: background-color 0.3s, color 0.3s;
}

body[data-theme="light"] {
    background-color: #fafafa;
    color: #121212;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link {
    color: inherit;
}
