/*
**
** spotify_album_finder
** File description:
** index.css
*/

/* ==== GLOBAL LAYOUT ==== */
@import "./styles/general.css";
@import "./styles/theme.css";

/* ==== THEMES (Dark / Light) ==== */
@import "./styles/theme.css";

/* ==== COMPONENTS ==== */
@import "./styles/searchbar.css";
@import "./styles/albumcard.css";

/* ==== RESPONSIVE ==== */
@import "./styles/responsive.css";

/* ==== SPOTIFY WRAPPED PAGES ==== */
@import "./styles/login.css";
@import "./styles/callback.css";
@import "./styles/wrapped.css";
@import "./styles/loginButton.css";
